// Colors
$bodyColor: #e2e2e2;
$navLinksColor: hsl(48, 4%, 26%);
$bannerTextColor: #454440;
$btnColor: #efefef;
$formIconColor: #8e8d8a;
$btnTextColor: #7f7f7f;

// Screen Size
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
